{{ define "main" }}
    {{ if eq .Type "post" }}
        {{- partial "post.html" . -}}
        {{- partial "toc.html" . -}}
    {{ end }}

    {{ if eq .Type "page" }}
        {{- partial "page.html" . -}}
        {{- partial "toc.html" . -}}
    {{ end }}

    {{ if eq .Type "research-post" }}
        {{- partial "research-post.html" . -}}
        {{- partial "toc.html" . -}}
    {{ end }}

    {{ if eq .Type "teaching-post" }}
        {{- partial "teaching-post.html" . -}}
        {{- partial "toc.html" . -}}
    {{ end }}
{{ end }}
